*~
Release.make
node_modules
.*.swp
out
*.pyc
.vscode

/bin
/.go
/.push-*
/.container-*
/.dockerfile-*
./db
vendor
.DS_Store
dist/
*.goreleaser.yml

baseball_databank_*.sqlite3
retrosheet.sqlite3
cmd/retrosched-dbloader/retrosched-dbloader
retrosheet_schedules.sqlite3
release/
